* {
    margin: 0;
    padding: 0;
}

/*Header*/
header {
    height: 15vh;
    background-color: #1a1a2e;
    color: #FFFFFF;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
/*End Header*/


/*Main*/
.main {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

button {
    height: 90px;
    width: 230px;
    background-color: #1a1a2e;
    color: #FFFFFF;
    border-radius: 20px;
    font-size: 18px;
}
/*End main*/

/*New match page styles*/
.form-container {
    text-align: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.form-container form {
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
    width: 300px;
    height: 50vh;
    gap: 70px;
}

.form-container form button {
    height: 40px;
    width: 130px;
    background-color: #1a1a2e;
    color: #FFFFFF;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
}

.form-container label {
    font-weight: bold;

    display: block;
}

.form-container input {
    margin-bottom: 10px;
}
/*End new match page styles*/

/*Match score page styles*/
.matchScore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.scoreboard {
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scoreboard table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.scoreboard th,
.scoreboard td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.matchScoreButton {
    height: 40px;
    width: 130px;
    background-color: #1a1a2e;
    color: #FFFFFF;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
}
/*End match score page styles*/

/*Played matches page styles*/
.games {
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.gamesTitle {
    border-bottom: solid;
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 50vh;
    align-items: center;
    justify-content: center;
}

.gamesTitle div {
    display: flex;
    width: 33vh;
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-right: none;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 50vh;
    border-bottom: solid;

}

.gameParameter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
    height: 5vh;
    width: 33vh;
}
/*End played matches page styles*/

/*Footer*/
footer {
    height: 15vh;
    background-color: #1a1a2e;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
    justify-content: right;
    align-items: center;
}

/*End footer*/
